/* pc用スタイル */
@media screen and (min-width: 769px) {

    /* HEADER section */

    .header {
        position: absolute;
        width: 100%;
        height: 75px;
        margin-top: 0;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }

    .logo {
        width: 50px;
        height: 50px;
        background: #D9D9D9;
        margin: 12px 0 13px 30px;
    }

    .logo a:hover {
        opacity: .6;
    }

    .nav_list {
        display: flex;
        gap: 25px;
        width: 303px;
        margin: 29px 30px 28px;
    }

    .nav_item a:hover {
        opacity: .6;
    }

    .li {
        font-size: 16px;
        font-weight: 400;
    }

    /* HERO section */

    .hero_wrapper {
       position: relative;
       width: 100%;
    }


    .hero_image img {
        width: 100%;
        height: 600px;
    }

    .hero_ttl {
        position: absolute;
        font-size: 64px;
        font-weight: 700;
        font-style: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    /* ABOUT section */

    .about_wrapper {
        margin: 100px 60px;
    }

    .about_inner {
        max-width: 733px;
        margin:  auto;
        text-align: center;
    }

    .section_ttl {
        color: #222222;
        margin-bottom: 20px;
        font-size: 48px;
        font-weight: 700;
        font-style: bold;
    }

    .section_description {
        margin-bottom: 33px;
    }

    .about_item {
        position: relative;
        overflow: hidden;
        border-radius: 16px;
    }

    .about_item img {
        width: 100%;
        display: block;
    }

    .about_item::before{
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(255,255,255,0.5);
        opacity: 0;
        transition: opacity 0.3s ease;

        z-index: 2;
        pointer-events: none;
    }

    .about_item:hover::before{
        opacity: 1;
    }

    .divider {
        border: none; /* ←これでborderのデフォの1pxのブラックが消える */
        height: 2px;
        width: 100px;
        background: #FF8E4F;
        margin: auto;
        margin-bottom: 50px;
    }

    .container_about_upper {
        display: grid;
        grid-template-columns: 640px 1fr;
        gap: 30px;
        max-width: 1160px;
        height: 253px;
        margin: 0 auto;
    }

    .container_about_below {
        display: grid;
        grid-template-columns: 490px 1fr;
        gap: 30px;
        max-width: 1160px;
        height: 250px;
        margin: auto;
        margin-top: 30px;
    }

    .container_about_upper img,
    .container_about_below img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        border-radius: 16px;
    }

    

    /* WORK section */

    .work_wrapper {
        padding: 100px 160px;
    }

    .work_inner {
        width: 733px;
        margin: 0 auto;
        text-align: center;
    }

    .container_work_upper {
        max-width: 960px;
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }

    .container_work_below {
        max-width: 960px;
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }

    .work_item {
        text-align: center;
    }

    .work_item .work_image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work_item .work_image img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        display: block;
    }

    .contents .ttl {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    /* BLOG section */

    .blog_wrapper {
        margin: 100px 60px 188px 60px;
        height: 1180px;
    }

    .blog_inner {
        max-width: 733px;
        margin:  auto;
        text-align: center;
    }

    .blog_item {
        width: 938px;
        height: 250px;
        margin: 50px ;
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .blog_image {
        width: 400px;
        height: 250px;
    }

    .blog_image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
    }

    .blog_contents {
        flex: 1;
    }

    .blog_contents .ttl {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .blog_contents .description {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 23px;
    }

    .blog_btn a {
        display: inline-block;
        background: #FFAD33;
        color: #fff;
        width: 220px;
        height: 60px;
        border-radius: 8px;
        padding: 16px 60px;
        letter-spacing: 1.2px;
        text-align: center;
    }

    .blog_btn {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: left;
    }

    .blog_item:nth-child(2n){
        flex-direction: row-reverse;
        margin-right: 0;
    }

    /* FOOTER section */


    .bottom_inner {
        height: 100px;
        margin-bottom: 0;
        color: #fff;
        padding: 41px 30px;
        
    }
}
