/* pc用スタイル */
@media screen and (min-width: 769px) {

    /* HEADER section */

    .header {
        position: absolute;
        width: 1280px;
        height: 75px;
        margin-top: 0;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }

    .logo {
        width: 50px;
        height: 50px;
        background: #D9D9D9;
        margin: 12px 0 13px 30px;
    }

    .logo a:hover {
        opacity: .6;
    }

    .nav_list {
        display: flex;
        gap: 25px;
        width: 303px;
        margin: 29px 30px 28px;
    }

    .nav_item a:hover {
        opacity: .6;
    }

    .li {
        font-size: 16px;
        font-weight: 400;
    }

    /* HERO section */

    .hero_wrapper {
       position: relative;
       width: 100%;
    }


    .hero_image img {
        width: 100%;
        height: 600px;
    }

    .hero_ttl {
        position: absolute;
        font-size: 64px;
        font-weight: 700;
        font-style: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* ABOUT section */

    .about_wrapper {
        margin: 100px 60px;
    }

    .about_inner {
        max-width: 733px;
        margin:  auto;
        text-align: center;
    }

    .section_ttl {
        color: #222222;
        margin-bottom: 20px;
        font-size: 48px;
        font-weight: 700;
        font-style: bold;
    }

    .section_description {
        margin-bottom: 33px;
    }

    .divider {
        border: none; /* ←これでborderのデフォの1pxのブラックが消える */
        height: 2px;
        width: 100px;
        background: #FF8E4F;
        margin: auto;
        margin-bottom: 50px;
    }

    .container_about_upper {
        display: grid;
        grid-template-columns: 640px 1fr;
        gap: 30px;
        max-width: 1160px;
        height: 253px;
        margin: 0 auto;
    }

    .container_about_below {
        display: grid;
        grid-template-columns: 490px 1fr;
        gap: 30px;
        max-width: 1160px;
        height: 250px;
        margin: auto;
        margin-top: 30px;
    }

    .container_about_upper img,
    .container_about_below img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        border-radius: 16px;
    }

    /* WORK section */

    .work_wrapper {
        padding: 100px 160px;
    }

    .work_inner {
        width: 733px;
        margin: 0 auto;
        text-align: center;
    }



    .bottom {
        height: 100px;
        margin-bottom: 0;
    }
}
